.nav-link {
  position: relative;
  font-weight: 600;
  overflow: hidden;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  transition: width 0.35s ease-in-out, left 0.35s ease-in-out;
}

.nav-link.hover-left::before {
  left: 100%;
  width: 0;
  background: linear-gradient(to right, var(--color-primary-container), var(--color-primary));
}

.nav-link.hover-right::before {
  left: 0;
  width: 0;
  background: linear-gradient(to left, var(--color-primary-container), var(--color-primary));
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.nav-link.active::before {
  width: 100%;
  left: 0;
  background: linear-gradient(to right, var(--color-primary), var(--color-primary));
}